body {
    align-items: center;
    margin: 0;
    display: flex;
    background-image: url('./assets/back.gif');
    background-repeat: no-repeat;
    background-size: cover;

    /* background-color: #240453b0; */
}